<section class="header-contanier">
  <article class="header-nav">
    <a
      routerLink="/"
      fragment="top"
      [ngClass]="{
        'bg-brand-primary text-brand-secundary rounded-md px-1 sm:px-5 truncate':
          isActiveFragment('top')
      }"
      >Inicio</a
    >
    <a
      routerLink="/"
      fragment="about-me"
      [ngClass]="{
        'bg-brand-primary text-brand-secundary rounded-md px-1 sm:px-5 truncate':
          isActiveFragment('about-me')
      }"
      >Sobre mi</a
    >
    <a
      routerLink="/"
      fragment="experience"
      [ngClass]="{
        'bg-brand-primary text-brand-secundary rounded-md px-1 sm:px-5 truncate':
          isActiveFragment('experience')
      }"
      >Experiencia</a
    >
    <a
      routerLink="/"
      fragment="projects"
      [ngClass]="{
        'bg-brand-primary text-brand-secundary rounded-md px-1 sm:px-5 truncate':
          isActiveFragment('projects')
      }"
      >Projectos</a
    >
    <a
      routerLink="/"
      fragment="contact"
      [ngClass]="{
        'bg-brand-primary text-brand-secundary rounded-md px-1 sm:px-5 truncate':
          isActiveFragment('contact')
      }"
      >Contacto</a
    >
  </article>
</section>
